
xterm*faceName: xft:Inconsolata:pixelsize=20
URxvt*font:     xft:Terminess Powerline:pixelsize=20
URxvt*boldFont:xft:Terminess Powerline:pixelsize=20
!*.font:	Liberation Mono:pixelsize=22:antialias=true:autohint=true;
! *.font:	Inconsolata:pixelsize=24:antialias=true:autohint=true;

!Liberation Mono
Xft.dpi: 72

! These might also be useful depending on your monitor and personal preference:
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
! xterm*font:     *-fixed-*-*-*-18-*
