echo "~/.bash_aliases loading..."
alias code="cd ~/code"
alias ls="ls -G"
alias vi="mvim -v"
alias vim="mvim -v"
alias look4='echo find ./ -name "fdsafds" -print  use QUOTES!'
alias ll="ls -latr"
alias hosts="cat /etc/hosts"
alias grv="git remote -v"
alias free='df -h /tmp | tail -1 | awk "{print $4}"'
alias syncer='rsync -ahr --progress Rozalbaz /Volumes/Seagate\ Backup\ Plus\ Drive/'

echo "featuring: mplayer"
echo "featuring: ranger"
